/* General reset to ensure consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
}

body {
    background-color: #f4f4f4; /* Light background color */
    color: #333; /* Dark text color */
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}

/* Header styling */
header {
    background-color: #007acc; /* A blue header */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Main content area */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Notion widget styling */
#notion-widget {
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

#calendar-widget {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: 'Tahoma', sans-serif;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 5px;
    padding: 10px;
}

.day1 {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.day1.checked-in {
    background-color: #8BC34A;
    color: #fff;
}

#check-in-chart {
    margin-top: 20px;
    font-size: 1em;
}

#heatmap-calendar-widget {
     width: 100%;
     max-width: 600px;
     margin: auto;
     text-align: center;
     font-family: 'Tahoma', sans-serif;
 }

#heatmap-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 5px;
    padding: 10px;
}

.day {
     padding: 15px;
     border: 1px solid #ddd;
     border-radius: 5px;
     cursor: pointer;
    /* user-select: none;*/
 }

.day2 {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 100%; /* Makes the grid items square */
    position: relative;
}

.day2-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #e0e0e0; /* Default color */
    color: #333;
}

.day.low {
    background-color: #c6e48b;
}

.day.medium {
    background-color: #7bc96f;
}

.day.high {
    background-color: #239a3b;
}

.day.very-high {
    background-color: #196127;
}

/* Links */
a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    color: #555;
    font-size: 0.9em;
}

